<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Report</title>
  <style>
    body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
     .container {
        width: 100%;
        margin: auto;
        background-color: cadetblue;
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
      }
      .flex {
        display: flex;
        align-items: center;
        justify-content: center;

      }
      h1{
        text-align: center;
        margin-top: 20px;
      }
      ul{
        width: 100%;
        gap: 10px;
        margin: auto;
      }
      li{
        padding: 0 !important;
      }
     p {
        /* margin: 15px 0px; */
        /* padding: 3px 5px; */
        font-size: 12px;
        cursor: pointer;
      }
      .main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
  </style>
</head>
<body>
<div class="main">
<%- include("header") %>

<section class="report-section ">
  <h1>Student Report Card</h1>

  <ul class=" container flex">
    <% students.forEach((stud) => { %>
      <li>
        <p>Name: <%= stud.name %></p>
        <p>Grade: <%= stud.grade %></p>
        <p>Subject: <%= stud.subject %></p>
      </li>
    <% }) %>
  </ul>
</section>
<%- include("footer") %>
</div>
</body>
</html>
